#frame1{
    width: 1145px;
    height: 100px;
    border: 1px solid #424106;
    margin: 35px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rectangle{
    width: 67.941px;
    height: 85px;
    background: rgba(66, 65, 6, 0.55);
}

#delete{
    width: 165.855px;
    height: 48px;
    border-radius: 9px;
    border: 3px solid #A4B07E;
    text-align: center;
    align-items: center;
}
#delete p{
    margin: 14px;
}