.display{
    display: flex;
    justify-content: end;
}

.display h2{
    display: flex;
    width: 166px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    color: #424106;
    margin-right: 140px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 134.766%; /* 24.258px */
}

.formied{
    width: 264px;
    height: 57px;
    flex-shrink: 0;
    text-align: center;
    margin-right: 140px;
    border-radius: 9px;
    border: 3px solid #A4B07E;
}