.login{
    width: 100%;
    height: auto;
    overflow: hidden;
    flex-shrink: 0;
    position: absolute;
    background: rgba(164, 176, 126, 0.53);
    justify-content: center;
    display: flex;
}

#card{
    width: 754px;
    height: 428px;
    flex-shrink: 0;
    margin: 12.2% auto;
    background: linear-gradient(0deg, #FFFAF4 0%, #FFFAF4 100%), #FFFAF4;
}

#card h1{
    color: #424106;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%; /* 59.063px */
}

#card p{
    color: #424106;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 13px;
}

.bottom_in {
    width: 223px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 3px solid #A4B07E;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 13px;
}

#card  a{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    line-height: 134.766%; /* 26.953px */
}

.in{
    color: #424106;
}

.reg{
    margin-left: 320px;
    color: #6D4930;
}