
footer{
    width: 100%;
    background-color: #FFFAF4;
    margin: 50px auto;
    text-align: center;
    align-items: center;
}

#line{
    width: 80%;
    height: 100%;
    border: 1px #424106 solid;
    margin: 52px auto;
}

#logo{
    color: #424106;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word
}

footer ul{
    list-style: none;
}

footer ul li{
    display: inline-block;
}

#left_element{
    margin-right: 312px;
}

#right_element{
    margin-left: 374px;
}

footer a{
    text-decoration: none;
    color: #424106;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}